.index-tile {
    text-align: center;
}
.index-tile {
    transition: all 0.3s ease;
    font-size: 1.1rem;
    font-weight: 100;

    &:hover {
        transform: translateY(-2px);
        /* transform: scale(1.01); */
        box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.15);

    }
}
.index-tile h1 {
    font-size: 1.5rem;
    background-color: var(--pbg0);
    border-radius: var(--br);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
    transition: all 0.3s ease;
    font-weight: 400;
    &:hover {
        transform: scale(1.025) translateY(-2px);
    }
}

#index-tiles {
    padding: 10px;
}
.illustration-wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.illustration {
    height: 200px;
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
}
