<!-- <script>
    const emojis = {
    "😎": ["😀", "😁", "😂", "🤣", "😃", "😄", "😅", "😆", "😉", "😊", "😋", "😎", "😍", "😘", "😗", "😙", "😚", "😇", "😐", "😑", "😶", "😏", "😒", "😬", "😮", "😯", "😲", "😳", "😵", "😡", "😠", "😤", "😣", "😖", "😫", "😩", "😢", "😥", "😪", "😓", "😱", "😨", "😰", "😳", "😵", "😷", "🤒", "🤕", "🤢", "🤮", "🤧", "😇", "🥳", "🥺", "😻", "😼", "😽", "🙀", "😿", "😾"],
    "Люди": ["👶", "👦", "👧", "👨", "👩", "👴", "👵", "👨‍⚕️", "👩‍⚕️", "👨‍🎓", "👩‍🎓", "👨‍🏫", "👩‍🏫", "👨‍⚖️", "👩‍⚖️", "👨‍🌾", "👩‍🌾", "👨‍🍳", "👩‍🍳", "👨‍🔧", "👩‍🔧", "👨‍🏭", "👩‍🏭", "👨‍💼", "👩‍💼", "👨‍🔬", "👩‍🔬", "👨‍🎨", "👩‍🎨", "👨‍✈️", "👩‍✈️", "👨‍🚀", "👩‍🚀", "👨‍🚒", "👩‍🚒", "🦾", "🦿", "🦵", "🦶"],
    "Одежда и всякое такое": ["👗", "👖", "👕", "👚", "👙", "👘", "👠", "👡", "👢", "👛", "👜", "👝", "👞", "👟", "🥾", "🧢", "🎩", "👒", "👑", "👓", "🕶️", "🧥", "🧣", "🧤", "🧦", "👕", "👖", "👗", "👘"],
    "Животные и природа": ["🐶", "🐱", "🐭", "🐹", "🐰", "🦊", "🐻", "🐼", "🐨", "🐯", "🦁", "🐮", "🐷", "🐸", "🐵", "🐔", "🐧", "🐦", "🐤", "🐣", "🐺", "🐗", "🐴", "🦄", "🐝", "🐞", "🦋", "🐌", "🐚", "🌳", "🌲", "🌵", "🌾", "🌼", "🌻", "🌷", "🌹", "🌺", "🍀", "🍃", "🍂", "🌿"],
    "Еда": ["🍏", "🍎", "🍐", "🍊", "🍋", "🍌", "🍉", "🍇", "🍓", "🍈", "🍒", "🍑", "🥭", "🍍", "🥥", "🥝", "🍅", "🥑", "🥕", "🌽", "🥔", "🍠", "🍳", "🍔", "🍟", "🍕", "🌭", "🍿", "🍩", "🍪", "🎂", "🍰", "🍫", "🍬", "🍭", "🍮", "🍯", "🥛", "☕", "🍵", "🍺", "🍻", "🥂", "🍷", "🥃"],
    "Активности и спорт": ["⚽", "🏀", "🏈", "⚾", "🎾", "🏐", "🏉", "🎱", "🏓", "🏸", "🥅", "🏆", "🏅", "🎖️", "⛷️", "🏂", "🏌️", "🏋️", "🤼", "🤸", "⛹️", "🏇", "🚴", "🚵", "🏍️", "🛹", "🛶", "🚣", "🏊", "🤽", "🏄", "🧗", "🧗‍♀️", "🧗‍♂️"],
    "Транспорт и путешествия": ["🚗", "🚕", "🚙", "🚌", "🚎", "🏍️", "🚲", "🚏", "✈️", "🛩️", "🛫", "🛬", "🚢", "⛴️", "🛳️", "🚀", "🛰️", "🚁", "🚂", "🚊", "🚉", "🚥", "🚦", "🛣️", "🛤️", "🗺️", "🏞️", "🏕️", "🏖️", "🏝️", "🏜️", "🏔️"],
    "Объекты": ["📱", "💻", "🖥️", "🖨️", "🕹️", "🎮", "📺", "📷", "📸", "📹", "📼", "📞", "📟", "📠", "📺", "📻", "🧭", "⏰", "🕰️", "⌛", "📅", "📆", "🗓️", "📇", "📋", "📁", "📂", "🗂️", "🗃️", "🗄️", "🗑️", "🔒", "🔑", "🔓", "🔏"],
    "Символы": ["❤️", "🧡", "💛", "💚", "💙", "💜", "🖤", "🤍", "🤎", "💔", "❣️", "💕", "💞", "💓", "💗", "💖", "💘", "💝", "💟", "🌀", "🌈", "✨", "🎇", "🎆", "🎉", "🎊", "🎈", "🎀", "🎁", "🔮", "🧿", "💌", "📯", "🔔", "🔕", "⚠️", "🚫", "❌", "✅", "🔗", "🔒", "🔑", "🔓", "🔏"],
    }
</script> -->
<script src="/static/js/ALL_EMOJIS.js"></script>

<div id="emojis-keyboard" class="hidden">
  <div id="keyboard-close">
    <button id="keyboard-close-button">❌</button>
  </div>
  <div id="emojis-keyboard-tabs"></div>
  <div id="emojis-keyboard-tabs-contents"></div>
  <script>
    let selectedEmoji = "";
    let targetInputField = null;
    let multipleEmojis = false;
    let overrideInputValue = false;
    const tabsContainer = document.getElementById("emojis-keyboard-tabs");
    const contentsContainer = document.getElementById(
      "emojis-keyboard-tabs-contents"
    );

    const MAX_RECENT_EMOJIS = 64; // Максимальный размер списка последних использованных эмодзи
    const recentEmojisContainer = document.createElement("div"); // Контейнер для последних эмодзи

    for (const category in EMOJIS) {
      // Создаем вкладку
      const tab = document.createElement("div");
      tab.classList.add("emojis-keyboard-tab");
      tab.textContent = category;
      tabsContainer.appendChild(tab);

      // Создаем контейнер для контента
      const content = document.createElement("div");

      const emojiContainer = document.createElement("div");
      emojiContainer.classList.add("emojis-keyboard-tab-content");
      // Добавляем эмодзи в контейнер
      EMOJIS[category].forEach((emoji) => {
        const emojiElement = document.createElement("span");
        emojiElement.textContent = emoji;
        emojiContainer.appendChild(emojiElement);
        emojiElement.classList.add("emojis-keyboard-emoji");
        emojiElement.addEventListener("click", () => {
          //console.log("emojiElement.textContent", emojiElement.textContent);
          //console.log("targetInputField", targetInputField);
          //console.log("overrideInputValue", overrideInputValue);
          //console.log("multipleEmojis", multipleEmojis);
          selectedEmoji = emoji;
          if (targetInputField) {
            if (overrideInputValue) {
              targetInputField.value = emoji;
            } else {
              targetInputField.value += emoji;
            }
            addEmojiToRecent(emoji);
            if (!multipleEmojis) {
              closeKeyboard();
            }
          }
          //document.getElementById("emojis-keyboard").classList.add("hidden");
        });
      });

      content.appendChild(emojiContainer);
      contentsContainer.appendChild(content);
      document.addEventListener("click", (event) => {
        const keyboard = document.getElementById("emojis-keyboard");
        if (!keyboard.contains(event.target) && !keyboard.classList.contains("hidden")) {
          closeKeyboard();
        }
      });

      document.addEventListener("keydown", (event) => {
        if (event.key === "Escape") {
          closeKeyboard();
        }
      });
      function closeKeyboard() {
        document.getElementById("emojis-keyboard").classList.add("hidden");
      }
      function openKeyboard() {
        setTimeout(() => {
          document.getElementById("emojis-keyboard").classList.remove("hidden");
        }, 100);
      }
      document
        .getElementById("keyboard-close-button")
        .addEventListener("click", closeKeyboard);
    }

    // Создаем вкладку для последних использованных эмодзи
    const recentTab = document.createElement("div");
    recentTab.classList.add("emojis-keyboard-tab");
    recentTab.textContent = "Недавние";
    tabsContainer.appendChild(recentTab);

    // Создаем контейнер для контента последних эмодзи
    const recentContent = document.createElement("div");
    const recentEmojiContainer = document.createElement("div");
    recentEmojiContainer.classList.add("emojis-keyboard-tab-content");
    recentContent.appendChild(recentEmojiContainer);
    contentsContainer.appendChild(recentContent);

    // Обновляем вкладку последних эмодзи
    function updateRecentEmojis() {
      recentEmojiContainer.innerHTML = ""; // Очищаем контейнер
      let recentEmojis = JSON.parse(localStorage.getItem("recentEmojis")) || [];
      recentEmojis.forEach((emoji) => {
        const emojiElement = document.createElement("span");
        emojiElement.textContent = emoji;
        recentEmojiContainer.appendChild(emojiElement);
        emojiElement.classList.add("emojis-keyboard-emoji");
        emojiElement.addEventListener("click", function () {
          if (targetInputField) {
            if (overrideInputValue) {
              targetInputField.value = emoji;
            } else {
              targetInputField.value += emoji;
            }
            if (!multipleEmojis) {
              closeKeyboard();
            }
          }
        });
      });
    }

    // Обновляем список недавних эмодзи при добавлении
    function addEmojiToRecent(emoji) {
      let recentEmojis = JSON.parse(localStorage.getItem("recentEmojis")) || [];

      // Удаляем дубликаты
      recentEmojis = recentEmojis.filter((e) => e !== emoji);

      // Добавляем эмодзи в начало списка
      recentEmojis.unshift(emoji);

      // Проверяем размер списка и отбрасываем последний элемент, если превышен лимит
      if (recentEmojis.length > MAX_RECENT_EMOJIS) {
        recentEmojis.pop();
      }

      // Сохраняем обновленный список в localStorage
      localStorage.setItem("recentEmojis", JSON.stringify(recentEmojis));
      updateRecentEmojis(); // Обновляем вкладку
    }

    function callEmojiKeyboard(
      _targetInputField,
      _multipleEmojis = false,
      _overrideInputValue = false
    ) {
      //console.log("callEmojiKeyboard", _targetInputField, _multipleEmojis, _overrideInputValue);
      targetInputField = _targetInputField;
      multipleEmojis = _multipleEmojis;
      overrideInputValue = _overrideInputValue;
      updateRecentEmojis();
      openKeyboard();
    }
  </script>
</div>
<style>
  .hidden {
    display: none !important;
  }
  :root {
    --keyboard-background: #f0f0f0; /* Цвет фона клавиатуры */
    --keyboard-text: #000; /* Цвет текста клавиатуры */
    --keyboard-border: #ccc; /* Цвет границы клавиатуры */
    --keyboard-hover: #e0e0e0; /* Цвет фона при наведении для клавиатуры */
    --emoji-keyboard-background: var(--keyboard-background);
    --emoji-keyboard-text: var(--keyboard-text);
    --emoji-keyboard-border: var(--keyboard-border);
    --emoji-keyboard-hover: var(--keyboard-hover);
    --element-background: #f0f0f0;
    --emoji-container-background: #cacaca;
    --emoji-tab-element-background: #f7f7f7;
  }

  [data-theme="dark"] {
    --keyboard-background: #2c2c2c; /* Цвет фона клавиатуры */
    --keyboard-text: #fff; /* Цвет текста клавиатуры */
    --keyboard-border: #444; /* Цвет границы клавиатуры */
    --keyboard-hover: #3a3a3a; /* Цвет фона при наведении для клавиатуры */
    --emoji-keyboard-background: var(--keyboard-background);
    --emoji-keyboard-text: var(--keyboard-text);
    --emoji-keyboard-border: var(--keyboard-border);
    --emoji-keyboard-hover: var(--keyboard-hover);
    --element-background: #2c2c2c;
    --emoji-container-background: #1d1d1d;
    --emoji-tab-element-background: #424242;
  }

  body.light-theme {
    background-color: var(--emoji-keyboard-background);
    color: var(--emoji-keyboard-text);
  }

  body.dark-theme {
    background-color: var(--emoji-keyboard-background);
    color: var(--emoji-keyboard-text);
  }

  #emojis-keyboard {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    width: 90%;
    max-width: 800px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование */
    position: fixed; /* Плавающий элемент */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--emoji-keyboard-background);
    border-radius: var(--border-radius); /* Скругление углов */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Тень для эффекта вложенности */
    z-index: 1000; /* Поверх других элементов */
  }

  #emojis-keyboard-tabs {
    display: flex;
    flex-wrap: wrap; /* Позволяет вкладкам переноситься на новую строку */
  }

  .emojis-keyboard-tab {
    cursor: pointer;
    padding: 15px; /* Увеличенное пространство для вкладок */
    background-color: var(--emoji-tab-element-background);
    border: 1px solid var(--emoji-keyboard-border);
    margin: 5px;
    border-radius: var(--border-radius); /* Скругленные вкладки */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Транзишн для фона и активного состояния */
    width: 60px; /* Увеличенная ширина для вкладок */
    height: 60px; /* Увеличенная высота для вкладок */
    display: flex;
    align-items: center;
    justify-content: center; /* Центрирование текста */
    font-size: 32px; /* Увеличенный размер эмодзи в вкладках */
    -webkit-box-shadow: 4px 4px 8px 0px var(--shadow-color);
    -moz-box-shadow: 4px 4px 8px 0px var(--shadow-color);
    box-shadow: 4px 4px 8px 0px var(--shadow-color);
  }

  .emojis-keyboard-tab:hover {
    background-color: var(--emoji-keyboard-hover);
    transform: scale(1.05); /* Эффект увеличения при наведении */
  }

  .emojis-keyboard-tab-content {
    display: none;
    padding: 10px;
    animation: fadeIn 0.5s;
    overflow-y: auto; /* Позволяет прокручивать контент */
    max-height: 300px; /* Ограничение высоты для прокрутки */
    background-color: var(--emoji-container-background);
    border-radius: var(--border-radius);
    margin: 5px;
  }

  .emojis-keyboard-tab-content.active {
    display: block;
  }

  .emojis-keyboard-emoji {
    font-size: 28px; /* Увеличенный размер эмодзи */
    margin: 5px;
    transition: transform 0.2s;
    display: inline-block; /* Отдельные элементы */
    padding: 10px; /* Выделение эмодзи */
    border: 1px solid var(--emoji-keyboard-border);
    border-radius: var(--border-radius); /* Закругление для эмодзи */
    cursor: pointer;
    user-select: none;
    background-color: var(--emoji-keyboard-background);
    -webkit-box-shadow: 4px 4px 8px 0px var(--shadow-color);
    -moz-box-shadow: 4px 4px 8px 0px var(--shadow-color);
    box-shadow: 4px 4px 8px 0px var(--shadow-color);
  }

  .emojis-keyboard-emoji:hover {
    transform: scale(1.2);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Темная тема */
  [data-theme="dark"] .emojis-keyboard-tab {
    background-color: var(--emoji-keyboard-background);
    border: 1px solid var(--emoji-keyboard-border);
  }

  [data-theme="dark"] .emojis-keyboard-tab:hover {
    background-color: var(--emoji-keyboard-hover);
  }
</style>

<script>
  const tabs = document.querySelectorAll(".emojis-keyboard-tab");
  const contents = document.querySelectorAll(".emojis-keyboard-tab-content");

  tabs.forEach((tab, index) => {
    tab.addEventListener("click", () => {
      contents.forEach((content) => content.classList.remove("active"));
      contents[index].classList.add("active");
    });
  });
</script>
