<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ДоДеп2 - ВХОД</title>
    <link rel="stylesheet" href="/static/css/header.css" />
    {% include 'parts/head.html' %}
    <link rel="stylesheet" href="/static/css/auth.css" />
  </head>
  <body>
    <div class="glass panel" id="auth-form">
      {% include 'parts/header/logo.html' %}
      <div id="head">
        <button class="tab panel glass active" id="tab-header-login" data-tab="login">Вход</button>
        <button class="tab panel glass" id="tab-header-register" data-tab="register">Регистрация</button>
      </div>
      <div id="form">
        <input type="text" name="name" id="name" placeholder="Имя" class="hidden" />
        <input type="text" name="login" id="login" placeholder="Логин" />
        <div class="password-container">
          <input type="password" name="password" id="password" placeholder="Пароль" />
          <button type="button" id="show-password-button" class="toggle-password panel glass" aria-label="Показать пароль">👓</button>
        </div>
      </div>
      <div id="auth-button-container">
        <button id="auth-button" class="panel">Войти</button>
      </div>
    </div>
    <script src="/static/js/auth_page.js"></script>
  </body>
</html>
