<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% include 'parts/head.html' %}
        <title>{{ name }} в ДоДеп2</title>
        <link rel="icon" type="image/png" href="/static/fvi/auth.png" />
        <!--  {% include 'parts/authorizedonly.html' %} -->
        <script>
            const PAGE_TARGET_UID = "{{ uid }}";
        </script>
        <style>
            #profile {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
    </head>
    <body>
        {% include 'parts/header/header.html' %}
        <div id="profile">{% include 'pages/parts/profile/profile.html' %}</div>
    </body>
</html>
