<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ДоДеп2 - README</title>
        <link rel="icon" type="image/png" href="/static/fvi/main.png" />

        {% include 'parts/head.html' %}
        <style>
            #main {
                margin: 10px 50px;
                text-align: center;
            }
            h1 {
                font-size: 1.5em !important;
            }
            h1 #logo {
                display: block;
                margin: 0px;
            }
        </style>
    </head>
    <body>
        {% include 'parts/header/header.html' %}
        <div class="panel glass" id="main">
            <h1 class="text-purple-600">Пользовательский пофигизм {% include 'parts/header/logo.html' %} (так же известный как README)</h1>
            <p>Мы <span class="text-red-300">не несём</span> <span class="text-red-500">НИКАКОЙ</span> ответственности за:</p>
            <ul style="text-align: center">
                <li>Ваше просранное время</li>
                <li>Ваши потерянные нервные клетки</li>
                <li>Вашу <span class="text-green-400">деградацию</span> или <span class="text-red-400">развитие</span> во время игры</li>
            </ul>
            <hr />
            <p>
                Это СИМУЛЯТОР (казино) с
                <a href="https://github.com/Minemaster656/dodep" class="text-sky-600 decoration-sky-600" style="text-decoration: underline">открытым исходным кодом</a> (<span
                    class="text-red-300"
                    >не советую нажимать на ссылку слева без святой воды под рукой</span
                >).<br /><span class="text-emerald-500">Помогите с разработкой</span> <strike>если хотите (пожалуйста)</strike>
            </p>
            <hr />
            <p>
                Это СИМУЛЯТОР и <span class="text-red-400">никаких реальных денег</span> тут <span class="text-red-400">НЕ БУДЕТ</span>.<br />
                Лудомания <span class="text-red-400">вредит</span> вашему здоровью и вообще казино это вроде как <span class="text-red-600">18+</span>.<br />
                Пользуясь этой игрой вы соглашаетесь с тем, что знаете, что всё тут один большой анекдот для безделия и <span class="text-red-400">никак не связано</span> с
                реальностью, а так же, что вы ознакомились с этой информацией или хотя бы дисклеймером в верху большинства страниц.
            </p>
        </div>
    </body>
</html>
