<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ДоДеп2 | Работа</title>
        {% include 'parts/head.html' %} {% include 'parts/authorizedonly.html' %}
    </head>
    <body>
        {% include 'parts/header/header.html' %}

        <script>
            fetch("/api/v1/work/task/sort/start")
                .then((response) => response.json())
                .then((data) => {
                    const container = document.createElement("div");
                    container.className = "image-container";
                    data.images.forEach((image) => {
                        const img = document.createElement("img");
                        img.src = `${image}`;
                        container.appendChild(img);
                    });
                    document.body.appendChild(container);
                })
                .catch((error) => console.error("Error fetching images:", error));
        </script>
    </body>
</html>
