<link rel="stylesheet" href="/static/css/components/auth.css" />

<div id="account-component">
    <div id="account-component-login">
        <a href="/auth">Войти</a>
    </div>
    <div id="account-component-logged" class="hidden">
        <div id="account-info">
            <div id="account-avatar" class="avatar">🚎</div>
            <div id="account-name-info">
                <div id="account-name" class="username"></div>
                <div id="account-login" class="userlogin"></div>
                <div id="account-balance" class="userbalance"></div>
            </div>
        </div>
        <button id="account-logout-button" class="text-red-400">🚪Выйти🏃‍♂️</button>
    </div>
</div>
<script src="/static/js/components/account_component.js"></script>
