<link rel="stylesheet" href="/static/css/header.css" />
<div id="header">
  {% include 'parts/header/logo.html' %}
  <div id="disclaimer" class="glass panel"><p style="color: gray; font-size: 0.75em; text-align: center;">Симулятор казино. НИКАКИХ РЕАЛЬНЫХ ДЕНЕГ, ЛУДОМАНИЯ ВРЕДИТ ВАШЕМУ ЗДОРОВЬЮ, и вообще как бы 18+<br>Всё на этом сайте лишь ИГРА для проведения времени и НИКАК не связано с реальностью!<br><span class="text-red-400">Осторожно, маты и взрослые темы.</span> <span class="text-red-600">18+</span></p></div>
  <div id="account" class="glass panel">
    {% include 'parts/header/auth.html' %}
  </div>
</div>
