<link rel="stylesheet" href="/static/css/header.css" />
<div id="header">
  <div id="logo">
    <span class="text-cyan-300" style="text-shadow: 0 0 5px #67e8f9">ДО</span><span class="text-violet-300" style="text-shadow: 0 0 5px #c4b5fd">ДЕП</span
    ><span class="text-violet-600" id="logo-number" style="text-shadow: 0 0 10px #7c3aed">2</span>
  </div>
  <div id="disclaimer" class="glass panel"><p style="color: gray; font-size: 0.75em">Симулятор казино. НИКАКИХ РЕАЛЬНЫХ ДЕНЕГ, ЛУДОМАНИЯ ВРЕДИТ ВАШЕМУ ЗДОРОВЬЮ, и вообще как бы 18+</p></div>
  <div id="account" class="glass panel">
    {% include 'parts/header/auth.html' %}
  </div>
</div>
