#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    padding: 0px 20px 0px 0px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
body {
    padding-top: 100px;
}
#logo {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo-number {
    font-size: 1.5em;
    transform: translateX(-10px) rotate(15deg);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

#logo-number:hover {
    transform: translateX(-10px) rotate(7deg) scale(1.25);
    text-shadow: 0 0 15px #7e22ce;
}
