<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ДоДеп2</title>
    {% include 'parts/head.html' %}
  </head>
  <body>
    {% include 'parts/header/header.html' %}
    <h1 class="glass panel">Помогите</h1>
    <div class="glass panel" style="font-size: 200em">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor itaque, consequuntur accusantium ab quisquam nesciunt, neque laboriosam placeat, incidunt voluptatibus
      expedita perspiciatis eligendi blanditiis animi molestiae veniam cum architecto enim?
    </div>
  </body>
</html>
